body{
    background-image: linear-gradient(135deg );
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, sans-serif;
}

.pag-inicial{
    background-color: ;
    padding: 80px;
}

div.pag-inicial {
    border-radius: 50px;
}

.pag-inicial img{
    width: 250px;
}

.botoes a{
    text-decoration: none;
    background-color: ;
    font-size: 20px;
    color: ;
    padding: 10px;
    border-radius: 10px;
    border-style: outset;
}
