<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Inicial</title>
    <link rel="shortcut icon" href="Captura de tela 2024-09-25 144520.png" type="image/x-icon">
    <link rel="stylesheet" href="static/estilo.css">
</head>
<body>
    <div class="pag-inicial">
        <img src="static/Captura de tela 2024-09-25 144520.png">
        <div class="botoes">
        


        <a href="/login"> Fazer login</a>
        <a href="/cadastro">Cadastrar-se</a>
        </div>
    </div>
</body>
</html>